---
import Editor from "../Editor.astro";
import Queue from "../Queue.astro";
---

<div
  id="panel-control"
  class="panel-transition flex-1 flex flex-col border-x border-white/5 bg-black lg:bg-transparent z-30"
>
  <Editor />
  <Queue />
</div>
