---
import Sidebar from "../Sidebar.astro";
---

<div
  id="panel-library"
  class="panel-transition w-[85vw] max-w-sm h-full fixed inset-y-0 left-0 z-40 lg:relative lg:w-80 lg:translate-x-0 lg:z-auto bg-[#0a0a0a] border-r border-white/5 lg:bg-transparent -translate-x-full"
>
  <Sidebar />
</div>
